<div class="text-center pt-5 pb-5" >
<button type="button" (click)="task_gen()" *ngIf="clicked === false">
Click to Generate
</button>
</div>
<table class="table table-bordered" *ngIf="clicked">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Id</th>
        <th scope="col">Section</th>
        <th scope="col">Supervisor</th>
        <th scope="col">CGPA</th>
    </tr>
<tbody *ngFor="let task of TaskDisplay">
    <tr>
        <td scope="row">{{task.name}}</td>
        <td>{{task.id}}</td>
        <td>{{task.section}}</td>
        <td>{{task.supervisor}}</td>
        <td>{{task.cgpa}}</td>
    </tr>
    
    </tbody>
</table>
<div *ngIf="clicked" class="text-center">
<button type="button" class="btn mr-5" (click)="prev()">
    Previous
</button>
<button type="button" class="btn" (click)="next()">
    Next
</button>
<br>
<br>
<button type="button" class="btn btn-danger" (click)="rese()">
    Reset
</button>
</div>
