<div class="text-center pt-5 pb-5">
<button type="button" (click)="task_gen()">
Click to Generate
</button>
</div>
<table class="table table-bordered" *ngIf="clicked">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Id</th>
        <th scope="col">Section</th>
        <th scope="col">Supervisor</th>
        <th scope="col">CGPA</th>
    </tr>
<tbody *ngFor="let s of Tasks; let i = index">
    <tr *ngIf= "count%5 === 0 && i>0 && i<10">
        
        <td scope="row">{{s.name}}</td>
        <td>{{s.id}}</td>
        <td>{{s.section}}</td>
        <td>{{s.supervisor}}</td>
        <td>{{s.cgpa}}</td>
        
    </tr>
    <tr *ngIf= "count%5 === 1 && i>10 && i<20">
        <td scope="row">{{s.name}}</td>
        <td>{{s.id}}</td>
        <td>{{s.section}}</td>
        <td>{{s.supervisor}}</td>
        <td>{{s.cgpa}}</td>
    </tr>
    <tr *ngIf= "count%5 === 2 && i>20 && i<30">
        <td scope="row">{{s.name}}</td>
        <td>{{s.id}}</td>
        <td>{{s.section}}</td>
        <td>{{s.supervisor}}</td>
        <td>{{s.cgpa}}</td>
    </tr>
    <tr *ngIf= "count%5 === 3 && i>30 && i<40">
        <td scope="row">{{s.name}}</td>
        <td>{{s.id}}</td>
        <td>{{s.section}}</td>
        <td>{{s.supervisor}}</td>
        <td>{{s.cgpa}}</td>
    </tr>
    <tr *ngIf= "count%5 === 4 && i>40 && i<50">
        <td scope="row">{{s.name}}</td>
        <td>{{s.id}}</td>
        <td>{{s.section}}</td>
        <td>{{s.supervisor}}</td>
        <td>{{s.cgpa}}</td>
    </tr>
    </tbody>
</table>
<div *ngIf="clicked" class="text-center">
<button type="button" class="btn mr-5" (click)="prev()">
    Previous
</button>
<button type="button" class="btn" (click)="next()">
    Next
</button>
<br>
<br>
<button type="button" class="btn btn-danger" (click)="rese()">
    Reset
</button>
</div>
